@import '../variables';

.welcome {
  text-align: center;
  padding-bottom: 10px;

  @media (min-width: 768px) {
    font-size: 20px;
  }
  @media (min-width: 1200px) {
    font-size: 22px;
  }
}

.divider {
  margin: 10px 0;
  border-bottom: 1px solid $border-gray;
}

.primary {
  color: $primary;
}
.dark {
  color: $dark;
}
