@import "../variables";

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  max-width: 1920px;
  height: 400px;
  position: relative;

  @media (min-width: 768px) {
    height: 550px;
  }
  @media (min-width: 1200px) {
    height: 700px;
  }
}

.welcomeLayout {
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: url("/662957.png");
}

.animation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  animation-name: slow-welcome;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  cursor: default;

  p {
    font-size: 14px;
    text-align: center;
    margin: 0;
    color: $text-note;
    margin: 10px 10px 20px;
  }
  h3 {
    font-size: 28px;
    margin: 0;
  }

  @media (min-width: 768px) {
    h3 {
      font-size: 38px;
    }
    p {
      font-size: 16px;
    }
  }

  @media (min-width: 1200px) {
    h3 {
      font-size: 48px;
    }
    p {
      font-size: 18px;
    }
  }
}

@keyframes slow-welcome {
  from {
    opacity: 0;
    top: -100px;
  }
  to {
    opacity: 1;
    top: 0;
  }
}

.grid {
  display: block;
  margin-bottom: 10px;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 48% 48%;
    grid-template-rows: 48% 48%;
    column-gap: 4%;
    row-gap: 4%;
    justify-items: center;
    align-items: center;
  }
}

.grid_block {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  height: 100%;

  div {
    cursor: default;
    display: flex;
    justify-content: center;
    font-weight: 500;
    margin-top: 20px;
    text-align: center;
  }
  div:last-child {
    margin-top: 0;
    margin-bottom: 20px;
  }

  @media (min-width: 768px) {
    div {
      font-size: 16px;
    }
  }
  @media (min-width: 1200px) {
    div {
      font-size: 16px;
    }
  }
}

.divider {
  display: flex;
  border-bottom: 1px solid $border-gray;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 12px;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 0px 10px;

  @media (min-width: 768px) {
    font-size: 13px;
  }
  @media (min-width: 1200px) {
    font-size: 14px;
  }
}

.part_footer {
  padding: 10px 5px 10px 0;
  font-size: 12px;

  @media (min-width: 768px) {
    font-size: 13px;
  }
  @media (min-width: 1200px) {
    font-size: 14px;
  }
}
.part_footer:last-child {
  padding: 10px 0 10px 5px;
}

.footer_block {
  display: flex;
  align-items: center;
}

.switchers {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:last-child {
    margin-top: 10px;
  }
}
