@import '../variables';

.center_container {
  height: 100%;
  padding: 10px;

  @media (min-width: 768px) {
    padding: 40px;
  }
  @media (min-width: 1200px) {
    padding: 60px 70px;
  }
}

.image_container {
  display: grid;
  grid-template-columns: 25% 30% 30%;
  column-gap: 7.5%;
  justify-items: center;
  align-items: center;
  padding-bottom: 10px;

  @media (min-width: 768px) {
    padding-bottom: 40px;
  }
  @media (min-width: 1200px) {
    padding-bottom: 60px;
  }
}

.divider {
  padding-bottom: 10px;
  border-bottom: 1px solid $border-gray;
  margin-bottom: 10px;
}
