@import '../../styles/variables';

.card {
  display: flex;
  margin: 0 10px 5px 10px;
  padding: 0 5px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $border-gray;
  cursor: pointer;
  transition: all .15s ease-in-out;
  height: 50px;
  font-size: 13px;

  @media (min-width: 768px) {
    height: 60px;
    font-size: 14px;
  }
  @media (min-width: 1200px) {
    font-size: 15px;
  }
}

.span_without {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: calc(100% - 25px);
}

.span_margin {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: calc(100% - 60px);
}

.complited {
  color: $text-note;
}

.margin {
  margin-right: 5px;
}

.primary:hover {
  border-bottom: 1px solid $primary;
}
.dark:hover {
  border-bottom: 1px solid $dark;
}
