@import "../../styles/variables";

.background {
  height: 49px;
  transition: all 0.15s ease-in-out;

  @media (min-width: 768px) {
    height: 64px;
  }
  @media (min-width: 1200px) {
    height: 79px;
  }
}

.container {
  margin: auto;
  max-width: 1000px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;

  span {
    margin: 4px;
    cursor: pointer;
  }

  @media (min-width: 768px) {
    font-size: 16px;
    span {
      margin: 7px;
    }
  }
  @media (min-width: 1200px) {
    font-size: 18px;
    span {
      margin: 10px;
    }
  }
}

.button {
  display: flex;
  @media (min-width: 768px) {
    display: none;
  }
}
.header {
  display: none;
  @media (min-width: 768px) {
    display: inline;
  }
}
.openHeader {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50px;
  padding: 10px;
  z-index: 1000000;
  font-size: 16px;
  animation-name: slow-open;
  animation-duration: 0.4s;
  animation-timing-function: ease-in-out;
  @media (min-width: 768px) {
    display: none;
  }
}

.header_dark {
  background: $dark;
}
.header_primary {
  background: white;
  border-bottom: 1px solid $border-gray;
  border-right: 1px solid $border-gray;
}

.primary {
  // background: white;
  // border-bottom: 1px solid $border-gray;
}
.dark {
  // border-bottom: 1px solid $dark;
  // background: $dark;
  a {
    color: $text-white;
  }
  div {
    color: $text-white;
  }
  span {
    color: $text-white;
  }
}

@keyframes slow-open {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
